body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

#date-selection-section {
    display: flex;
    gap: 10px;
}

input,
textarea,
select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
}


button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
}
